/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

div#container {
  display: flex;
  font-size: 72px;
  flex-flow: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 30vh auto;
}

.reflect {
  /* transform: rotate3d(0, -10, 1, 180deg); */
  transform: rotateX(180deg);
}

.fan { 
  margin-top: -26px;
  margin-left: 1px;
}

.fan.reflect {
  margin-top: -41px;
  margin-left: -4px;
}
